PORT=8080
QUEUE_MODE=inline
USE_MEMORY_CACHE=true
USE_MEMORY_STORE=false

MONGO_URI=
MONGO_DB=chro_intelligence
SCHEMA_REQUIRE_ORG_ID=true
RAW_DATA_TTL_DAYS=0
CHAT_TTL_DAYS=0

BOOTSTRAP_EMPLOYEE_LIMIT=5
BOOTSTRAP_REQUIRE_SLACK_MATCH=true

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_REQUESTS_PER_MINUTE=12
GROQ_DISPATCH_MODE=auto
