BAMBOOHR_COMPANY=cudept
BAMBOOHR_SUBDOMAIN=cudept
BAMBOOHR_API_KEY=ebabb29c4b5f551ca5ed64d29fc0877f9a9e2aea
BAMBOOHR_API_BASE=https://api.bamboohr.com/api/gateway.php
DB_TYPE=sqlite
DB_URL=data/hr_intelligence.db
